

iframe {
	border:0;
	width:90%;
	height:300px;
	margin-left:5%;
	margin-top:2%;
}

select {
	height: 80px;
    width: 45%;
  }

  /*DROPDOWN */

  p, .dropdown{
  	margin-top: 2%;
  	margin-left:8%;
  }

  .btn-danger, footer{
  	margin-left: 5%;
  }
 
  /*FORMULAIRE */

  form{
  	margin-top:5%;
  	margin-left:9%;
  	float:left;
  	border: 1px solid black;
  }

  span {
  	font-weight:600;
  	font-size:125%;

  }

/*FOOTER*/

   footer {
  	background-color: #d9534f;
  	width:90%;
  	height:auto;
  	overflow:hidden;
  	margin-top: 75%;
  }

  /*PARTENAIRE*/

  section a{
  	display:block;
  }

  section h3, section a{
  	clear:both;
  	margin-right:2%;
  }

  section a:last-child{
  	margin-bottom:2%;
  }

